:root {
    --ppcolor: rgb(98, 106, 239);
    --pink: #945befb7,
    --ppcolor-dark: #3b4261;
    --ppcolor-light: #7e88e3;
    --ppcolor-deep: #9465D4;
    --yellow-light:rgba(255,242,109,0.07475884244372988) ;
    --salary-color:#ff6700;
  }