html,
body,
#app{
  height: 100%;
  margin: 0;
  padding: 0;
}
.el-table .warning-row {
  --el-table-tr-bg-color: var(--el-color-warning-light-9);
}

.el-table .success-row {
  --el-table-tr-bg-color: #e3ffe0;
}